:root {
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;
}

.card {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-surface-a10);
    color: white;
}

body {
    height: 90vh;
    background-color: var(--clr-surface-a0);
    display: grid;
    justify-content: center;
    align-items: center;
}

#container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

.two-columns {
    grid-column: 1 / -1;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.info.temp.container {
    grid-row: span 2;
    display: grid;
}

.info.temp.text {
    font-size: 40px;
}

.info.icon {
    height: 100px;
    justify-self: center;
}